%h1{style:"text-align:center"}
  = "Sejf souboru"
%hr
#instances
  - @instances.each do |instance|
    .div
      - if instance.files.previewable?
        = instance.files.preview(reisze_to_fit: [200, 200]) 
      = link_to instance.files.filename, rails_blob_path(instance.files, disposition: "attachment")
      %br
%br
%form.dropzone#myId{:action => "/target"}
%br
%br
%br
